*{
    margin:0px;
    padding:0px;
}

/* .all-container{
    display:flex;
    row-gap:2rem;
    column-gap:2rem;
    gap: 2rem;
} */


/* .all-fex-basis{
    display:flex;
    gap:2rem;
    justify-content: space-between;
} */
.left-side{
    text-align:center;
    background-color: rgb(53, 111, 244);
    height:100vh;
    flex-basis:25%;
}
/*
.center-side{
    text-align:center;
    background-color: green;
    height:100vh;
    flex-basis:50%;
}
.right-side{
    text-align:center;
    background-color:  rgb(53, 111, 244);
    height:100vh;
    flex-basis:20%;
} */

.all-justify{
    background-color: rgb(22, 2, 2);
    display:flex;
    justify-content:space-around;
}
.all-justify>a{
    color:white;
    text-decoration: none;
}